!!! Strict
%html{lang: 'en-us', 'xml:lang' => 'en-us', xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title testing tables js
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'content-type'}
    %link{rel: 'stylesheet', href: '/css/jquery-ui.css', type: 'text/css', media: 'screen'}
    %link{rel: 'stylesheet', href: '/css/jquery.tables.css', type: 'text/css', media: 'screen'}
    %link{rel: 'stylesheet', href: '/css/app.css', type: 'text/css', media: 'screen'}
  %body
    .toolbar
      JQuery Tables
      &raquo;
      %a{href: '/'} index

    != yield

    %script{type: 'text/javascript', src: '/js/jquery.min.js'}
    %script{type: 'text/javascript', src: '/js/jquery.tables.js'}
    :javascript
      $(document).ready(function() {
        $('#test').bind('jqt-draw-done', function() { if (console) console.log('done rendering');});
        $('#test').tables();
      });
